name: prometheus
description: The Prometheus monitoring system and time series database.
version: 3.8.1
upstream:
  type: github
  repo: prometheus/prometheus
  strategy: latest_release
build:
  method: binary_repack
  binary_name: prometheus
artifacts:
  rpm:
    enabled: true
    targets:
    - el8
    - el9
    - el10
    summary: The Prometheus monitoring system and time series database.
    service_file: true
  docker:
    enabled: true
    base_image: gcr.io/distroless/static-debian12
    entrypoint:
    - /prometheus
